<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WpfClient.Properties.Settings>
            <setting name="OriginalHorde3DDllName" serializeAs="String">
                <value>Horde3D_org.dll</value>
            </setting>
            <setting name="ServerSettingsFileName" serializeAs="String">
                <value>Debugger.settings.xml</value>
            </setting>
            <setting name="ProxyDll" serializeAs="String">
                <value>Horde3D.dll</value>
            </setting>
            <setting name="CoreDll" serializeAs="String">
                <value>Infrastructure.Core.dll</value>
            </setting>
            <setting name="ExtensionsDll" serializeAs="String">
                <value>Infrastructure.Extensions.dll</value>
            </setting>
            <setting name="Horde3DNetDll" serializeAs="String">
                <value>Horde3D.NET.dll</value>
            </setting>
            <setting name="NativeInteropDll" serializeAs="String">
                <value>Native Interop.dll</value>
            </setting>
            <setting name="DetouredDll" serializeAs="String">
                <value>detoured.dll</value>
            </setting>
        </WpfClient.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <WpfClient.Properties.Settings>
            <setting name="LastDirectory" serializeAs="String">
                <value />
            </setting>
        </WpfClient.Properties.Settings>
    </userSettings>
</configuration>