<?xml version="1.0"?>
<configuration>
	
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Horde3D.Debugger.Client.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
		<sectionGroup name="ExceptionReporter">
			<section name="Contact" type="System.Configuration.NameValueSectionHandler"/>
			<section name="TabsToShow" type="System.Configuration.NameValueSectionHandler"/>
			<section name="Email" type="System.Configuration.NameValueSectionHandler"/>
			<section name="LabelMessages" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>

    <userSettings>
        <Client.Properties.Settings>
            <setting name="LastApplication" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastDirectory" serializeAs="String">
                <value/>
            </setting>
        </Client.Properties.Settings>
    </userSettings>

	<ExceptionReporter>
		<Contact>
			<add key="email" value="axel.habermaier@gmx.de"/>
			<!--<add key="web" value="unknown"/>-->
		</Contact>
		<TabsToShow>
			<add key="exceptions" value="true"/>
			<add key="assemblies" value="false"/>
			<add key="config" value="false"/>
			<add key="system" value="true"/>
			<add key="contact" value="false"/>
		</TabsToShow>
		<Email>
			<add key="method" value="MAPI"/>
			<add key="to" value="axel.habermaier@gmx.de"/>
		</Email>
		<LabelMessages>
			<add key="general" value="An exception has occured."/>
			<add key="explanation" value="Please explain what you were doing when the exception was thrown:"/>
			<add key="ContactTop" value="Please submit a bug report to:"/>
			<add key="ContactBottom" value="Optional message:"/>
		</LabelMessages>
	</ExceptionReporter>

 <applicationSettings>
  <Client.Properties.Settings>
   <setting name="ProxyDll" serializeAs="String">
    <value>Horde3D.dll</value>
   </setting>
   <setting name="CoreDll" serializeAs="String">
    <value>Infrastructure.Core.dll</value>
   </setting>
   <setting name="ExtensionsDll" serializeAs="String">
    <value>Infrastructure.Extensions.dll</value>
   </setting>
   <setting name="Horde3DNetDll" serializeAs="String">
    <value>Horde3D.NET.dll</value>
   </setting>
   <setting name="NativeInteropDll" serializeAs="String">
    <value>Native Interop.dll</value>
   </setting>
   <setting name="DetouredDll" serializeAs="String">
    <value>detoured.dll</value>
   </setting>
   <setting name="NumRecentApplications" serializeAs="String">
    <value>5</value>
   </setting>
  </Client.Properties.Settings>
 </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ComponentFactory.Krypton.Toolkit" publicKeyToken="A87E673E9ECB6E8E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
